.Builds {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.Builds h1 {
  margin: 0;
  font-weight: 300;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.Builds h2 {
  margin-top: 90px;
  font-weight: 300;
  font-size: 40px;
}

.Builds .connect-section {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  min-height: 50vh;
  min-width: 40vh;
  max-width: 54vh;
  text-align: center;
}

.Builds .connect-btn {
  background-color: #FF6B8B;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.Builds .connect-btn:hover {
  background-color: #FF8FA3;
}

.Builds .seed-btn {
  background-color: #3F8EFC;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.Builds .seed-btn:hover {
  background-color: #3F8EFC;
  color: #fff;
}

.Builds .disconnect-btn {
  background-color: #3F8EFC;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.Builds .disconnect-btn:hover {
  background-color: #3F8EFC;
  color: #fff;
}

.Builds .add-network-btn {
  background-color: #3F8EFC;;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.Builds .add-network-btn:hover {
  background-color: #3F8EFC;
  color: #fff;
}

.Builds .selected-address {
  margin-top: 20px;
  font-size: 18px;
}

.Builds li span {
  font-size: 25px;
  padding-left: 10px;
}

.Builds li {
  padding-bottom: 15px;
}
