.ERC20 .tokens {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.ERC20 .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6vw;
  height: 6vw;
  min-width: 50px;
  min-height: 50px;
}

.ERC20 .token img {
  width: 100%;
  height: auto;
  background: transparent;
}

.ERC20 .token {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
}
