.Home h1 {
  margin: 0;
  font-weight: 300;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.Home h2 {
  margin-top: 90px;
  font-weight: 300;
  font-size: 40px;
}

.Home p {
  margin-top: 90px;
  font-weight: 300;
  font-size: 50px;
  font-weight: 300;
}

.Home table {
  width: 100%;
  border-collapse: separate;
  margin-top: 20px;
  font-weight: 300;
  font-size: 20px;
  font-weight: 300;
}

.Home table tr {
  height: 60px;
}

.Home table td {
  padding-left: 40px;
}

.Home tr:nth-child(even) {
  background-color: #807d7d;
  color: white;
}

.Home .connect-section {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  min-height: 40vh;
  min-width: 40vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.Home .connect-btn {
  background-color: #ff6b8b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.Home .connect-btn:hover {
  background-color: #ff8fa3;
}

.Home .seed-btn {
  background-color: #3f8efc;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.Home .seed-btn:hover {
  background-color: #3f8efc;
  color: #fff;
}

.Home .disconnect-btn {
  background-color: #ff6b8b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.Home .disconnect-btn:hover {
  background-color: #ff8fa3;
  color: #fff;
}

.Home .add-network-btn {
  background-color: #3f8efc;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.Home .add-network-btn:hover {
  background-color: #3f8efc;
  color: #fff;
}

.Home .selected-address {
  margin-top: 20px;
  font-size: 18px;
}

.Home li span {
  font-size: 25px;
  padding-left: 10px;
}

.Home li {
  padding-bottom: 15px;
}

.Home .custom-account {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.Home .custom-account textarea,
.Home .custom-account input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 20px;
}

.Home .custom-account button {
  background-color: #3f8efc;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.Home .custom-account button:hover {
  background-color: #3f8efc;
  color: #fff;
}

.Home img {
  width: 100px;
  margin: 25px;
  margin-right: 50px;
}

.Home .network {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.Home .network h2 {
  margin-right: 50px;
  font-size: 30px;
  justify-content: center;
}

.Home .network button {
  justify-content: center;
  align-items: center;
}
