.Home h2 {
  font-weight: 500;
  font-size: 1.25rem;
  color: #6c757d;
}

.Home table {
  width: 100%;
  border-collapse: separate;
  margin-top: 20px;
  font-weight: 300;
  font-size: 20px;
  font-weight: 300;
}

.Home table tr {
  height: 60px;
}

.Home table td {
  padding-left: 40px;
}

.Home tr:nth-child(even) {
  background-color: #807d7d;
  color: white;
}

.Home .connect-section {
  margin-top: 2rem;
  min-width: 50vw;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  background: #f7f7f7;
  box-shadow: 9px 9px 18px #e6e6e6, -9px -9px 18px #ffffff;
  text-align: center;
}

/* .Home .seed-btn {
  background-color: #3f8efc;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.Home .seed-btn:hover {
  background-color: #3f8efc;
  color: #fff;
} */

.Home .disconnect-btn {
  background-color: #ff6b8b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.Home .disconnect-btn:hover {
  background-color: #ff8fa3;
  color: #fff;
}

.Home .add-network-btn {
  background-color: #3f8efc;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.Home .add-network-btn:hover {
  background-color: #3f8efc;
  color: #fff;
}

.Home .selected-address {
  margin-top: 20px;
  font-size: 18px;
}

.Home li span {
  font-size: 25px;
  padding-left: 10px;
}

.Home li {
  padding-bottom: 15px;
}

.Home .custom-account {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.Home .custom-account textarea,
.Home .custom-account input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 20px;
}

.network-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
}

.Home img {
  width: 2rem;
  height: auto;
}

.Home .network {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Home .network h2 {
  font-size: 1.25rem;
  justify-content: center;
}

.Home .network button {
  justify-content: center;
  align-items: center;
}
