.Home h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
}

.Home h2 {
  font-weight: 700;
  font-size: 1.25rem;
}

.Home h3 {
  font-weight: 500;
  font-size: 1.25rem;
  color: #6c757d;
}

/* Consolidated table, th, and td styles */
.Home table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse; /* Ensures borders between cells are shared */
}

.Home th,
.Home td {
  border: 1px solid #dee2e6;
  text-align: center;
  padding: 0.75rem; /* Adjust padding as needed */
}

.Home table tr {
  height: 2.25rem;
}

.Home tr:nth-child(even) {
  background-color: #dee2e6;
}

.Home .connect-section {
  margin-top: 2rem;
  min-width: 50vw;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #f7f7f7;
  box-shadow: 18px 9px 18px #e6e6e6, -12px -9px 18px #ffffff;
  text-align: center;
}

.Home li {
  padding-bottom: 15px;
}

.Home li span {
  font-size: 25px;
  padding-left: 10px;
}

.Home .custom-account {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.Home .custom-account textarea,
.Home .custom-account input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #adb5bd;
  border-radius: 4px;
  resize: vertical;
  font-size: 20px;
}

.network-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
}

.Home img {
  width: 2rem;
  height: auto;
}

.Home .network {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Home .network h2,
.Home .network button {
  justify-content: center;
  align-items: center;
}

.Home .card {
  padding: 2rem;
}
