.App .status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.App .status span {
  margin-right: 10px;
}

.App .status .ball-green {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ace4aa;
}

.App .status .ball-red {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff220c;
}

.App .stop {
  background-color: #ff6b8b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.App .stop:hover {
  background-color: #ff8fa3;
  color: #fff;
}
