* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: #212529;
  font-size: 1rem;
  margin: 0;
  background: #f7f7f7;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: #f7f7f7;
  min-height: calc(100vh - 71px);
}

.btn {
  background-color: #ff6b8b;
  color: #fff;
  border: none;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  &:hover {
    background-color: #ff8fa3;
  }
}

.btn-outline {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: transparent;
  color: #ff6b8b;
  border: 2px solid #dee2e6;
  font-size: 1.15rem;
  font-weight: 700;
  &:hover {
    border-color: #ff6b8b;
  }
}

.btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card {
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 1rem;
  overflow: hidden;
  border-radius: 1rem;
  background: #f7f7f7;
  box-shadow: 9px 9px 18px #e6e6e6, -9px -9px 18px #ffffff;
}
