.ValueBuilderHelper {
  width: 50%;
}

.ValueBuilderHelper h2 {
  margin-bottom: 10px;
}

.ValueBuilderHelper div {
  margin-bottom: 10px;
}

.ValueBuilderHelper input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 15px;
  overflow-wrap: break-word;
}

.ValueBuilderHelper button {
  padding: 5px 10px;
  background-color: #007bff !important;
  color: #fff;
  border: none;
  cursor: pointer;
}

.ValueBuilderHelper button:hover {
  background-color: #0056b3 !important;
}

.ValueBuilderHelper input[name="formattedHexValue"] {
  font-weight: bold;
}

.ValueBuilderHelper input[name="formattedHexValue"]:not([value=""]) {
  background-color: #ace4aa;
}

.ValueBuilderHelper input[name="hexInput"],
.ValueBuilderHelper input[name="formattedHexValue"] {
  height: 50px;
}

.ValueBuilderHelper .copy-icon {
  font-size: 24px;
  cursor: pointer;
}

.ValueBuilderHelper .copied-message {
  margin-left: 5px;
  color: green;
}
